<%- include ("partials/header.ejs") %>
<div class="container text-center" id="index_container">
  <h1>ToDo List</h1>
  <a href="/login" class="btn btn-primary btn-lg">Get Started</a>
</div>
<%- include ("partials/footer.ejs") %>


