<%- include ("partials/header.ejs") %>
 <div class="container">
     <div class="row text-center">
         <div id="border_form" style="width: 360px; margin: 150px auto; background-color: black;">
            <h2 class="m-2" style="color: white;">Login</h2>
         <form action="/login" method="POST">
            <div class="form-group my-4 mx-2 px-2">
                <input class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group my-4 mx-2 px-2">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group my-4 mx-2 px-2">
                <button class="btn btn-lg btn-primary btn-block">Login</button>
            </div>
        </form>
         <p style="color: white;">Don't have an account -<a href="/register">Signup</a></p>
        </div>
     </div>
 </div>

<%- include ("partials/footer.ejs") %>