body{
   background-image: url(../images/background.jpg);
    background-size: cover;
}
#alert_container{
 margin-top: 3.8rem;
}
#border_form{
    border: 3px solid black;
    border-radius: 0.5rem;
   box-sizing: content-box;
}

/* #nav-items {
    font-size: 1.25rem;
}
#nav-items li a:hover{
    color: grey;
}
#navbar_brand{
    font-size: 1.25rem;
}
.fa-list-alt{
    font-size: 1.5rem;
} */
#index_container{
    width: 360px;
    margin: 12rem auto;
    background-color: black;
    color: white;
    border: 5px solid black;
    border-radius: 25% 10%;
    border-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
}
#index_container h1{
    margin-bottom: 10px;
}